$common-border-radius: 0.5rem;

.loginPage-container {
    padding: 0;
    margin:0;
    width: 100vw;
    height: 100vh;
    background: url('../../assets/login.png') center/cover no-repeat;
    padding-bottom: 5rem;
    h1 {
        color:rgb(6, 117, 253);
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-family:'Courier New', Courier, monospace;
        .text-1 {font-size: 8rem;}
        .text-2 {font-size: 16rem;}
        .text-3 {font-size: 7rem;}
        .text-4 {font-size: 9rem;}
        .text-5 {font-size: 7rem;}
    }
    .form-container {
        scale: (1.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 25rem;
        height: 20rem;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 4rem;
        img {
            width:13rem;
            height: auto;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            input {
                height:2.5rem;
                padding-left: 1rem;
                margin: 0.5rem;
                border: 1px solid black;
                border-radius: $common-border-radius;
            }
            button {
                margin: 0.5rem;
                height: 2.5rem;
                border:solid 1px rgb(6, 117, 253);
                border-radius: $common-border-radius;
                background-color: rgb(6, 117, 253);
                color:white;
                transition: all ease 0.2s;
                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 0 0.5rem 0.1rem rgb(6, 117, 253);
                }
            }
            a {
                color: rgb(6, 117, 253);
                text-align: end;
                &:hover {
                    color: blue;
                    cursor: pointer;
                }
            }
        }
    }
    h2 {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(0,-50%);
        writing-mode: vertical-lr;
        text-orientation: upright;
        color:rgb(6, 117, 253);
        font-family:'Courier New', Courier, monospace;
        font-size: 10rem;
        letter-spacing: 4rem;

    }
}