.publish-container {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    .Form-container {
        .title,
        .channel_select {
            width: 30rem;
        }
        .picture-number-radio {

        }
        .picture_upload {
            width: 3rem;
            aspect-ratio: 1/1;
            font-size:larger
        }
        .content {
            width: 60rem;
        }
        .Button {
            display: flex;
            justify-content: flex-end;
        }
    }
}